<div class="center">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Registrar</mat-card-title>
            <mat-card-subtitle>Cursos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="cursoModel.nombre" placeholder="Ingresar Curso" name="nombre">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Creditos</mat-label>
                <input matInput [(ngModel)]="cursoModel.cr" placeholder="N° de Creditos" name="cr">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>H.Teoricas</mat-label>
                <input matInput [(ngModel)]="cursoModel.ht" placeholder="N° de Horas Teoricas" name="ht">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>H.Practicas</mat-label>
                <input matInput [(ngModel)]="cursoModel.hp" placeholder="N° de Horas Practicas" name="hp">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="create()">Registrar</button>
            <a mat-raised-button routerLink="/listar" color="warn">Cancelar</a>
        </mat-card-actions>
    </mat-card>

    <!---->
</div>
